// Your applications SCSS file
body {

}
.contact-details-container {
  margin: 20px;
  padding: 50px;
  border: 5px solid #0080FF;
  border-radius: 4px;

  li {
    cursor: pointer;
    list-style: none;
  }
}
