<div id="root">
  <!-- <contacts-view v-bind:all-contacts="'[{'nom': toto, 'prenom': tata}]'"></contacts-view> -->
  <contacts-view v-bind:all-contacts="JSON.parse('<%= @contacts_js %>')"></contacts-view>
</div>
