<div id="root">
  <!-- <contacts-view v-bind:all-contacts="JSON.parse('<%= @contacts_js %>')"></contacts-view> -->
  <contact-details v-bind:contact="JSON.parse('<%= @contact_js %>')"></contact-details>
</div>
